<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>ListingsParser.js:140</key>
		<string>-parse</string>
	</dict>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>8</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {1220, 342}}</string>
			<string>{{0, 352}, {1220, 406}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>37dd52e06ecfa741</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/Users/richard/Developer/dashcode/doy/doy/doy.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>1</integer>
		<key>percent-x</key>
		<real>0.3571428656578064</real>
		<key>percent-y</key>
		<real>0.22761905193328857</real>
		<key>pos-x</key>
		<integer>600</integer>
		<key>pos-y</key>
		<integer>239</integer>
		<key>rosetta</key>
		<false/>
	</dict>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {213, 779}}</string>
			<string>{{214, 0}, {1221, 779}}</string>
		</array>
	</dict>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {215, 472}}</string>
			<string>{{0, 482}, {215, 276}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array/>
</dict>
</plist>
