<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>ListingsParser.js:140</key>
		<string>-parse</string>
	</dict>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>8</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {790, 279}}</string>
			<string>{{0, 289}, {790, 406}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>e5647a3a2ebda741</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/Users/richard/Developer/dashcode/doy/doy/doy.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>2</integer>
		<key>percent-x</key>
		<real>0.32440477609634399</real>
		<key>percent-y</key>
		<real>0.33142855763435364</real>
		<key>pos-x</key>
		<integer>810</integer>
		<key>pos-y</key>
		<integer>348</integer>
		<key>rosetta</key>
		<false/>
	</dict>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {213, 716}}</string>
			<string>{{214, 0}, {791, 716}}</string>
		</array>
	</dict>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {215, 438}}</string>
			<string>{{0, 448}, {215, 247}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array>
		<array>
			<integer>2</integer>
		</array>
	</array>
</dict>
</plist>
